name: Android CI Build

on:
  push:
    branches: [ "master" ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Unsigned Release APK
      # We use assembleRelease but WITHOUT signing configs in build.gradle
      run: ./gradlew assembleRelease --stacktrace

    - name: Sign APK
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
      env:
        # This is the fix: Telling the action exactly where to find zipalign
        BUILD_TOOLS_VERSION: "35.0.0"

    - name: Upload Signed APK
      uses: actions/upload-artifact@v4
      with:
        name: FastFeed-Final-Signed
        path: ${{ steps.sign_app.outputs.signedReleaseFile }}
